<h2> Title: <%= @poem.title %> </h2>
<h3> Poet Name: <%= @poem.poet[:name] %> </h3>
<h4> <%= @poem.content %> </h4>

<br>
<p> Poet Url: <%= @poem.poet[:url] %> </p>
<p> Poem Url: <%= @poem.url %> </p>
