<h1>Book List</h1>


<% @books.each do |book| %>
  Title: <%= link_to book.title, "/books/#{book.id}" %> <br>
  Pages: <%= book.pages %> <br>
  Published: <%= book.published %> <br>
  Author: <%= book.author %> <br> <br>
<% end %>

<%= link_to 'Add New Book', '/books/new' %>
