<h1><%= @book.title %> </h1>


<h3>
  Author: <%= @book.author %> <br>
  Total Pages: <%= @book.pages %> <br>
  Published: <%= @book.published %> <br>
  Average User Rating: <%= @book.average_rating %> <br>
  Total Reviews: <%= @book.count_total_reviews %>
  <br><br>
  Three Highest Reviews:
  <% @book.gather_three_highest_reviews.each do |rating| %>
    Title: <%= rating.title %> <br>
    Description: <%= rating.description %> <br>
    Rating: <%= rating.rating %> <br>
  <% end %>
</h3>
